.error
{
    font-family: "Candara", "Arial", sans-serif;
    color: red;
    font-weight: bold;
}

body{
    text-align: center;
}

h1
{
font-family: "Candara", "Arial", sans-serif;
}

.content-container
{
margin: 13% auto;
}

.info
{
font-family: "Candara", "Times New Roman", sans-serif;
font-size: 20px;
}

.btn
{
font-family: "Tahoma", "Times New Roman", sans-serif;
}

.badge{
background-color: #337ab7;
}

.copyright{
font-family: "Calibri", "Arial", sans-serif;
}

.dropdown-menu>li>a{
background-color: #222222;
color: #9b9a97;
}

.add-item-btn{
  border-radius: 30px;
}

.glyphicon-plus{
    margin: 3px;
}

.list-col, .item-col
{
    font-family: 'Quicksand', sans-serif;
    font-size: 13.5px;
}

.list-col:hover{
    cursor:hand;
}



.field-col
{
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
}

.welcome-title
{
    font-family: 'Audiowide', cursive;
    font-size: 50px;
}

.form-login
{
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}