<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>

  <input type="text" [(ngModel)]="input" [hidden]="false" placeholder="//Enter values here" class='input-box' />

  <button (click)="calculations(input)">Calculate!</button>
  <div *ngIf="arr">
    <h1 *ngFor="let current of arr; let i = index" > {{i}}). {{current}} </h1>
  </div>
<br>
    <button (click)="getData();">Get List Data</button>
  <p>{{data}}</p>

</div>

