
  <!-- <div class="header">
    <h1 [class]="appTitle">
       {{title}} 
    </h1>
  </div> -->

  <md-toolbar color="primary">
    <span>Budget Boss</span>
  </md-toolbar>

<!-- <div class="sidebar sidebar-nav">
  <div class="sidebar-header">
    Navigator
  </div>
  <div class="sidebar-body">
    <ul style="padding: 0px;">
      <li class="sidebar-menu-item">Home</li>
      <li class="sidebar-menu-item">Lists</li>
      <li class="sidebar-menu-item">Category</li>
      <li class="sidebar-menu-item">Settings</li>
    </ul>
  </div>
</div> 

<div class="sidenav col-sm-2">
  <div class="sidenav-header"></div>
  <div class="sidenav-body">
    <ul style="padding: 40px;">
      <li class="sidebar-menu-item">Home</li>
      <li class="sidebar-menu-item">Lists</li>
      <li class="sidebar-menu-item">Category</li>
      <li class="sidebar-menu-item">Settings</li>
    </ul>
  </div>
  <div class="sidenav-footer"></div>
</div> -->


<div class="main-container" style="width: 607px;text-align:center;height: 358px;margin: auto;">
  <router-outlet></router-outlet>
</div> 
