

.header{
    margin-bottom:65px;
    text-align: left;
    border-bottom: 2px solid black;
    background: rgb(59, 172, 218);
    padding-bottom: 4px;
    padding-top: 3px;
    padding-left: 83px;
}

.app-title{
    font-family: 'Exo', Arial, Helvetica, sans-serif;
    color: rgba(232, 255, 236, 1);
    font-size: 35px;
    margin: 0px 0px 0px -55px;
}

.container{
    margin: 25px;
}

.main-container
{

}

.sidebar
{
    position: fixed;
    width:20%;
    height: 38%;
    height: auto;
    margin: 135px 0px 0px 40px;
    box-shadow: 0.5px 1px 2px 0.5px black;
}

.sidebar-menu-item
{
    list-style-type: none;
    margin: 20px;
    text-align: center;
}

.sidebar-header{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
    height: 55px;
    color: hsl(0, 0%, 100%);
    font-family: Candara, Arial, sans-serif;
    background: rgb(64, 157, 239);
}

.sidenav{
    float: left;
    border-right: 2px solid;
    height: 2000px;
    position: static;
    margin: -65px 0px 0px 0px;
    top: 47px;
    background: rgb(59, 172, 218);
}

ul{
    color: rgba(232, 255, 236, 1);
    font-weight: bold;
}

app-sidenav-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .app-sidenav {
    padding: 20px;
  }
  
  .spacer{
      flex: 1 1 auto;
  }

  .menu-icon{
    padding: -1 30px;
  }


  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: hsla(231, 48%, 83%, 1);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: hsla(231, 48%, 83%, 1);
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 250px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

ul{
    list-style: none;
}

.create-container{
    width: 50%;
    height: 50%;
    margin: auto 30%;
    position: fixed;
    top: 43%;
}

a{
    cursor: pointer;
}