<h1> {{list.title}} </h1>


<div class="card" *ngFor="let item of list.items" [style.border-left-style]="solid"
                                                  [style.border-left-width.px]="9"
                                                  [style.border-left-color]="setStyling(item.priority)"
                                                  [style.margin-bottom.px]="15"
                                                  [style.margin-top.px]="10"
                                                  style="box-shadow: black 1px 1px 1px 0px; 
                                                  border: 0px solid white" >
  <div class="card-block">
    {{item.name}} 
    <span class="badge badge-default"> ${{item.cost}} </span>
    <button class="btn btn-outline-primary btn-sm" (click)="toggleNotes();">Notes</button>
    <small [hidden]="showNotes" style="position: absolute;display: grid;margin-left: 154px;"> {{item.note}} </small>
    <a (click)="deleteItem(item.id);" style="color: white;cursor:pointer;float: right;" class="btn btn-danger">Delete</a>
  </div>
</div>
    

<div>
    <button md-raised-button (click)="goBack();" class="button btn btn-primary" >
        Back
    </button>
     <select placeholder="Select extension" #extension name="ext">
        <option *ngFor="let ext of extensions" [value]="ext.value">{{ext.text}}</option>
    </select> 
    
    <button md-raised-button (click)="export(extension.value)" class="button btn btn-warning" >Export</button>
    <button md-raised-button (click)="toggleState()" class="button btn btn-success">New</button>
</div>


<div style="margin:2rem;" [@createItemAnimation]='state'>
    <create-item  [id]="list.id" ></create-item>
</div> 