    {% extends "base.html" %}

    {% block mainmenu %}
    {% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Login</h1>
    <form method='POST'>
    <div class="form-group form-horizontal">
    {% csrf_token %}
        <div class="form-group">
                <label class="control-label col-sm-2">Username: </label>
            <div class="col-sm-4">
                <input type="text" name="username" class="form-control">
            </div>
        </div>

        <div class="form-group">
                <label class="control-label col-sm-2">Password: </label>
            <div class="col-sm-4">
                <input type="password" name="password" class="form-control">
            </div>
        </div>

        <input class="btn btn-primary" type="Submit" value="Submit">
    </form>
    <br>
            {% if response != None %}
    <div class="alert alert-danger col-sm-10" role="alert">{{response}}</div>
            {% endif %}
        </div>
        </div>

{% endblock %}



