    {% extends "base.html" %}

    {% block mainmenu %}
    {% endblock %}

{% block content %}
    <div class="content-container container jumbotron">
            <h1>Login</h1>
    <form method='POST' class="form-login">
    {% csrf_token %}
                <label class="control-label">Username </label><br>
                <input type="text" name="username" class="form-control"><br>

                <label class="control-label">Password </label>
                <input type="password" name="password" class="form-control"><br>

        <input class="btn btn-primary" type="Submit" value="Submit">
    </form>
    <br>
            {% if response == None %}
    <div class="alert alert-danger col-sm-10" role="alert">{{response}}</div>
            {% endif %}
        </div>

{% endblock %}