<div class="container col-md-5">
    <div style="margin-bottom: 30px;margin-top:30px;">   
        <h1>Login</h1>
        <p>Please login using the form below.</p>
    </div>

    <form name="login-form" (ngSubmit)="login(); onSubmit(); loginForm.reset();" #loginForm="ngForm" >
        <div class="form-group">
            <label for="name"></label>
            <input class="form-control" type="text" name="username" id="name" [(ngModel)]="model.username" required #name />
        </div>
            
        <div [hidden]="!submitted && !isAuthenticated" 
            class="alert alert-danger" >
            Username is required!
        </div>

        <div class="form-group">
            <label for="pass"></label>
            <input class="form-control" type="password" name="password" id="pass" [(ngModel)]="model.password" required #pass />
        </div>

        <div [hidden]="!submitted && !isAuthenticated" 
            class="alert alert-danger" >
            Password is required!
        </div>

        <button md-raised-button type="submit" routerLinkActive="active" class="btn btn-primary">Login</button>
        <button md-raised-button routerLink="/register" routerLinkActive="active" type="button" class="btn btn-default">Sign Up</button>
    </form>

    <div *ngIf="isAuthenticated">
        <strong>LOGGED IN!</strong>
    </div>
</div>