<div class="container col-md-8">
    <div style="margin-bottom: 30px;margin-top:30px;">   
        <h1>Login</h1>
        <p>Please login using the form below.</p>
    </div>

    <form name="login-form" (ngSubmit)="login(); onSubmit(); loginForm.reset();" #loginForm="ngForm" >
        <div class="form-group row">
            <label class="col-md-3" for="username">Username:</label>
            <div class="col-md-6">   
                <input class="form-control" 
                       required
                       type="text" 
                       placeholder="JonnyDoeBoi" 
                       [(ngModel)]="model.username" 
                       name="username"
                       #usrnme="ngModel">
            </div>
        </div>
            
        <div *ngIf="usrnme.invalid && submitted"
        class="alert alert-danger col-md-9">

            <div *ngIf="usrnme.errors.required">
                Username is required!
            </div>
            
        </div>

        <div class="form-group row">   
            <label class="col-md-3" for="password">Password:</label>
            <div class="col-md-6">
                <input class="form-control" 
                        required
                       type="password" 
                       [(ngModel)]="model.password" 
                       placeholder="Secret" 
                       name="password"
                       #psswrd = "ngModel">
            </div>
        </div>

        <div *ngIf="psswrd.invalid && submitted"
        class="alert alert-danger col-md-9">

            <div *ngIf="psswrd.errors.required">
                Password is required!
            </div>
            
        </div>

        <button md-raised-button type="submit" routerLinkActive="active" class="btn btn-primary">Login</button>
        <button md-raised-button routerLink="/register" routerLinkActive="active" type="button" class="btn btn-default">Sign Up</button>
    </form>

    <div *ngIf="isAuthenticated">
        <strong>LOGGED IN!</strong>
    </div>
</div>