

<div class="panel panel-primary">
<div class="panel-heading"><h2 style="font-family: 'Candara', 'Arial', sans-serif;">{{list}}</h2></div>
    <span id="current-list-id" hidden>{{list.id}}</span>
    <table class="table">
        {% for item in list.item_set.all %}
        <tr>
            <span id="item-id-{{forloop.counter}}"hidden> {{item.id}}</span>
            <th class="item-col"><p>{{item.name}}</p></th>
            <th class="item-col"><p>${{item.cost}}</p></th>
            <th class="item-col"><p>{{item.priority}}</p></th>
            <th class="item-col">{{list.dateCreated|date:"m-d-y @ h:i a"}}</th>
            <th><button class="btn btn-danger delete-item-btn" id="delete-item-btn-{{forloop.counter}}"><span class="glyphicon glyphicon-remove"></span></button></th>
        </tr>
        {% empty %}
            <p>This list currently has no items in it...</p>
        {% endfor %}
        <tr>
            <th>
                <form class="form-inline">
                    <div class="form-group col-md-8">
                        <input class="form-control" id="new-item-name" type="text" placeholder="Item Name">
                    </div>
                </form>
            </th>
            <th>
                <form class="form-inline">
                    <div class="form-group col-md-8">
                        <div class="form-group">
                        <label class="sr-only" for="new-item-cost">Amount (in dollars)</label>
                        <div class="input-group">
                          <div class="input-group-addon">$</div>
                          <input type="text" class="form-control" id="new-item-cost" step=".01" placeholder="Amount">
                        </div>
                      </div>
                    </div>
                </form>
            </th>
            <th>
                  <select id="new-item-priority">
                      <option>HIGH</option>
                      <option selected>MEDIUM</option>
                      <option>LOW</option>
                  </select>
            </th>
            <th>
                <button class="btn btn-success" id="add-item-btn"><span class="glyphicon glyphicon-plus"></span></button>
            </th>
        </tr>
    </table>
</div>

{% if list.limit != None %}

    <div class="container">
        <h3 style="font-family: Calibri, Candara, Arial, sans-serif;">List Limit: ${{list.limit}}</h3>

        {% if list.hasExceededLimit == True %}
            <p style="color: crimson;"> LIMIT EXCEEDED! (${{list.total}}) </p>
        {% endif %}
    </div>

{% endif %}