{% extends "base.html" %}

{% block bootstrap %}
{% endblock %}
{% block mainmenu %}
{% endblock %}

{% block content %}
<div class="container">
<div class="panel panel-default">
<div class="panel-heading">
    <h2 style="font-family: 'Quicksand', sans-serif;">{{ user }}'s Lists</h2>
    <p>Total: ${{ category.total }}</p>
</div>

    <div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th class="field-col">Title</th>
            <th class="field-col">Item Count</th>
            <th class="field-col">Total</th>
            <th class="field-col">Date Created</th>
            <th class="field-col">Category</th>
        </tr>
    {% for list in user_list %}
        <tr>
            <th class='list-col'>{{list.title}}</th>
            <th class='list-col'>{{list.count}}</th>
            <th class='list-col'>${{list.total | floatformat:-2}}</th>
            <th class='list-col'>{{list.dateCreated|date:"m-d-y @ h:i a"}}</th>
            <th class='list-col'>{{list.category}}</th>
            <span id="listid-{{forloop.counter}}"hidden> {{list.id}}</span>
            <th><!--<a href="#" class="btn btn-default" id="quick-view-list-btn-{{forloop.counter}}"><span class="glyphicon glyphicon-search"></a>-->
            <button class="btn btn-primary edit-list-btn" id="edit-list-btn-{{forloop.counter}}"><span class="glyphicon glyphicon-pencil"></span></button>
            <button class="btn btn-danger delete-list-btn" id="delete-list-btn-{{forloop.counter}}"><span class="glyphicon glyphicon-remove"></span></button></th>
        </tr>
    {% endfor %}
    </table>
        </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
            <a href="#" aria-label="Previous">
             <span aria-hidden="true">&laquo;</span>
                </a>
        </li>
    <li><a href="#">1</a></li>
      <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
      </ul>
    </nav>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}