<div style="margin-bottom: 30px;margin-top:30px;">   
    <h1>Sign Up</h1>
</div>

<form style="margin-left: 8px;" (submit)="register();" #registerForm="ngForm">

    <div class="form-group row">
        <label class="col-md-3" for="firstname">First Name:</label>
        <div class="col-md-6">   
            <input class="form-control" 
                   type="text" 
                   placeholder="John" 
                   [(ngModel)]="model.first_name" 
                   name="firstname">
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-3" for="lastname">Last Name:</label>
        <div class="col-md-6">   
            <input class="form-control" 
                   type="text" 
                   placeholder="Doe" 
                   [(ngModel)]="model.last_name" 
                   name="lastname">
        </div>
    </div>
    
    <div class="form-group row">
        <label class="col-md-3" for="username">Username:</label>
        <div class="col-md-6">   
            <input class="form-control" 
                   type="text" 
                   placeholder="JonnyDoeBoi" 
                   [(ngModel)]="model.username" 
                   name="username">
        </div>
    </div>

    <div class="form-group row">   
        <label class="col-md-3" for="password">Password:</label>
        <div class="col-md-6">
            <input class="form-control" 
                   type="password" 
                   [(ngModel)]="model.password" 
                   placeholder="Secret" 
                   name="password"
                   #psswrd>
        </div>
    </div>


    <div class="form-group row">   
        <label class="col-md-3" for="email">Email:</label>
        <div class="col-md-6">
            <input class="form-control" 
                   type="email" 
                   [(ngModel)]="model.email" 
                   placeholder="jondoe@gmail.com" 
                   name="email">
        </div>
    </div>

    <button type="submit" md-raised-button class="btn btn-primary">Sign Up</button>
    <button routerLink="/login" type="button" md-raised-button class="btn btn-default">Login</button>
</form>