{% extends "base.html" %}

{% block mainmenu %}
    {% endblock %}

{% block content %}
     <div class="content-container container jumbotron">
    <h1>Register</h1>

<form method='POST' class="form-login">
    {% csrf_token %}
          <label class="control-label">First Name </label><br>
            <input type="text" name="first_name" class="form-control"><br>

            <label class="control-label">Last Name </label><br>
            <input type="text" name="last_name" class="form-control"><br>

            <label class="control-label">Email </label><br>
            <input type="email" name="email" class="form-control"><br>

            <label class="control-label">Username </label><br>
            <input type="text" name="username" class="form-control"><br>

            <label class="control-label">Password </label><br>
            <input type="password" name="password" class="form-control"><br>

            <label class="control-label">Confirm Password </label><br>
            <input type="password" name="password_confirm" class="form-control"><br>
            <br>


            <input class="btn btn-primary" type='submit' value='Register'>
            <a href="/login" class="btn btn-default"> Login</a>
</form>



<p>{{response}}</p>
</div>
{% endblock %}